<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        *{
            font-family: monospace;
        }
    </style>
</head>
<body class="bg-gray-900 text-white flex flex-col items-center justify-center min-h-screen">
    <div class="container mx-auto max-w-md p-6 bg-gray-800 shadow-lg rounded-md relative">
        <h1 class="text-2xl font-bold mb-6 text-center">Welcome to Secrets Manager 🤫</h1>
        <form action="/addDetails" method="post" class="space-y-4">
            <div>
                <label for="sTitle" class="block text-sm font-medium">Title:</label>
                <input type="text" id="sTitle" name="sTitle" required class="mt-1 block w-full px-3 py-2 border border-gray-600 bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div>
                <label for="value1" class="block text-sm font-medium">Value 1:</label>
                <input type="text" id="value1" name="value1" placeholder="Add something like a username..." required class="mt-1 block w-full px-3 py-2 border border-gray-600 bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div>
                <label for="value2" class="block text-sm font-medium">Value 2:</label>
                <input type="text" id="value2" name="value2" placeholder="Add something like a password..." class="mt-1 block w-full px-3 py-2 border border-gray-600 bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <hr class="my-4 border-gray-600">
            <div class="flex justify-center">
                <button type="submit" class="w-full px-4 py-2 bg-indigo-600 text-white rounded-md shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Submit</button>
            </div>
            <div class="flex justify-center mt-4 md:mt-0">
                <a href="/viewSecrets" class="w-full px-4 py-2 bg-red-600 text-white rounded-md shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 text-center">View Your Secrets</a>
            </div>
        </form>
    </div>
</body>
</html>
